.suicide{
    width: 355px;
    height: 200px;
}

.negligent{
    width: 355px;
    height: 200px;
}

.terror{
  width: 355px;
  height: 200px;
}

.scerial{
    width: 355px;
    height: 200px;
}

.wage{
    width: 355px;
    height: 200px;
}
