body{
    color: white;
}

/*ul {
    list-style-type: none;
    margin: 4px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari 
    position: sticky;
    top: 0;
}*/
  
li {
    float: left;
}
  
/*li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}*/
  
nav {
    background-color: #333;
}

.active {
    color: #ff2800 !important;
    font-weight: bold;   /* #cf0202 */
}

a{
    text-decoration: none;
}

.header{
    text-align: center;
    text-decoration: none;
}

h2{
    margin: 15px;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 30px;
}

footer{
    float: right;
    padding-right: 30px;
}